.components-login-panel {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  color: #01fe01;
}
.components-login-panel .shakeClass {
  animation-name: shake;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-duration: 0.5s;
}
.components-login-panel .panel {
  width: 400px;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -250px;
  padding: 30px;
  background-color: #242424;
  border-radius: 30px;
  border: solid 2px lightgreen;
  box-shadow: inset 0 0 25px greenyellow;
}
.components-login-panel .panel .topLine {
  height: 65px;
  text-align: center;
}
.components-login-panel .panel .topLine .logoImg {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin-right: 10px;
}
.components-login-panel .panel .topLine span {
  font-size: 25px;
  vertical-align: middle;
  line-height: 65px;
  font-weight: bolder;
}
.components-login-panel .panel input {
  text-indent: 1em;
  background-color: black;
  color: greenyellow;
  background-color: #bae78d;
  border: none;
  outline: none;
  color: #000;
  border-radius: 5px;
  border-bottom: 2px solid #aaa;
  position: relative;
  top: 0;
  transition: all 0.1s;
}
.components-login-panel .panel input:active,
.components-login-panel .panel input:focus-visible {
  border-bottom-width: 0;
  top: 2px;
}
.components-login-panel .panel .moodTitle {
  font-size: 20px;
  margin-top: 10px;
}
.components-login-panel .panel .inputLine,
.components-login-panel .panel .loginButton {
  display: block;
  height: 40px;
  line-height: 2em;
  margin: 20px auto;
  width: 80%;
  background-color: #bae78d;
  border: none;
  outline: none;
  color: #000;
  border-radius: 5px;
  border-bottom: 2px solid #aaa;
  position: relative;
  top: 0;
  transition: all 0.1s;
}
.components-login-panel .panel .inputLine:active,
.components-login-panel .panel .loginButton:active,
.components-login-panel .panel .inputLine:focus-visible,
.components-login-panel .panel .loginButton:focus-visible {
  border-bottom-width: 0;
  top: 2px;
}
.components-login-panel .panel .loginButton:hover {
  cursor: pointer;
}
.components-login-panel .panel .loginWait {
  color: red;
}
.components-login-panel .panel .loginWait:hover {
  cursor: not-allowed !important;
}
.components-login-panel .panel .subLine {
  height: 50px;
  width: 80%;
  margin: 0 auto;
  user-select: none;
}
.components-login-panel .panel .subLine .left {
  width: 50%;
  float: left;
  height: 50px;
}
.components-login-panel .panel .subLine .left p {
  cursor: pointer;
}
.components-login-panel .panel .subLine .right {
  width: 50%;
  float: right;
  height: 50px;
  text-align: right;
}
.components-login-panel .panel .subLine .right a {
  color: #28ff28;
}
.components-login-panel .panel .subLine .right p {
  cursor: pointer;
}
.components-login-panel .panel .passwordMoodHint,
.components-login-panel .panel .emailMoodHint {
  color: orangered;
}
.components-login-panel .panel .emailMood .inputLine .inputCode {
  display: block;
  float: left;
  height: 40px;
  width: 60%;
}
.components-login-panel .panel .emailMood .inputLine .getCodeBtn {
  display: block;
  float: right;
  height: 40px;
  width: 40%;
  background-color: #bae78d;
  border: none;
  outline: none;
  color: #000;
  border-radius: 5px;
  border-bottom: 2px solid #aaa;
  position: relative;
  top: 0;
  transition: all 0.1s;
}
.components-login-panel .panel .emailMood .inputLine .getCodeBtn:active,
.components-login-panel .panel .emailMood .inputLine .getCodeBtn:focus-visible {
  border-bottom-width: 0;
  top: 2px;
}
.components-login-panel .panel .emailMood .inputLine .getCodeBtn:hover {
  cursor: pointer;
}
.components-login-panel .panel .bottomLine {
  height: 20px;
}
.components-login-panel .panel .bottomLine a {
  color: greenyellow;
}
.components-login-panel .blackGround {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 30%;
}
.components-login-panel .close {
  position: absolute;
  left: 105%;
  top: 0;
  font-size: 30px;
  color: whitesmoke;
  cursor: pointer;
  text-shadow: black 0 0 10px;
  transition: all 0.2s;
}
.components-login-panel .close:hover {
  transform: scale(1.5);
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
/*# sourceMappingURL=index.css.map */