.components-top-nav {
  height: 60px;
  background: rgba(60, 63, 65, 0.78);
  overflow: hidden;
  border-bottom: solid 3px greenyellow;
  position: relative;
  animation-name: topNavAni;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.components-top-nav .left {
  height: 60px;
  float: left;
  width: 30%;
  z-index: 100;
}
.components-top-nav .left .LOGO {
  height: 60px;
  float: left;
  margin-left: 30px;
}
.components-top-nav .left .title {
  font-size: 25px;
  line-height: 60px;
  margin-left: 30px;
  color: #28ff28;
}
.components-top-nav .middle {
  height: 60px;
  float: left;
  width: 40%;
  vertical-align: center;
  z-index: 100;
}
.components-top-nav .middle p,
.components-top-nav .middle div {
  height: 60px;
  float: left;
  line-height: 60px;
}
.components-top-nav .middle .VS {
  font-size: 23px;
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 10px;
  color: greenyellow;
}
.components-top-nav .middle .user {
  height: 60px;
  line-height: 60px;
}
.components-top-nav .middle .user img,
.components-top-nav .middle .user span {
  display: block;
  float: left;
  height: 60px;
  line-height: 60px;
}
.components-top-nav .middle .user img {
  width: 30px;
  height: 30px;
  padding: 0;
  margin-top: 15px;
  border-radius: 50%;
  margin-left: 10px;
}
.components-top-nav .middle .user .userName {
  margin-left: 3px;
}
.components-top-nav .middle li {
  height: 60px;
  float: left;
  text-decoration: none;
  line-height: 60px;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}
.components-top-nav .middle li .clickItem {
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: white;
  transition: all 0.2s;
  position: relative;
}
.components-top-nav .middle li .clickItem:hover {
  color: greenyellow;
}
.components-top-nav .middle li .clickItem:hover .lightDote {
  opacity: 1;
  transform: scale(4.5);
  border-right-color: transparent;
  border-left-color: transparent;
}
.components-top-nav .middle li .clickItem:active {
  transform: scale(0.5);
}
.components-top-nav .middle li .clickItem:active .lightDote {
  opacity: 1;
  transform: scale(1) rotate(90deg);
  border-right-color: transparent;
  border-left-color: transparent;
}
.components-top-nav .middle li .clickItem .lightDote {
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  left: 50%;
  top: 50%;
  position: absolute;
  transition: 0.3s;
  color: greenyellow;
  border: solid 1px;
  border-radius: 50%;
  opacity: 0;
}
.components-top-nav .right {
  width: 30%;
  height: 60px;
  float: left;
}
.components-top-nav .right .exitContest {
  background-color: darkred;
  color: orange;
  display: inline;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  vertical-align: middle;
  transition: all 0.2s;
}
.components-top-nav .right .headImg {
  outline: solid 1px;
  width: 30px;
  height: 30px;
  line-height: 60px;
  vertical-align: middle;
  margin: 5px;
  border-radius: 50%;
}
.components-top-nav .right .login,
.components-top-nav .right .register,
.components-top-nav .right .userName,
.components-top-nav .right .score,
.components-top-nav .right .userLevel,
.components-top-nav .right .headImg,
.components-top-nav .right .exit {
  line-height: 60px;
  vertical-align: middle;
  color: #d4d4d4;
  user-select: none;
  margin-right: 10px;
  cursor: pointer;
}
.components-top-nav .right .userLevel {
  width: 30px;
  height: 30px;
  margin-right: 0;
  transition: all 0.2s;
}
.components-top-nav .right .userLevel:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.components-top-nav .right .score {
  margin-left: 0;
}
.components-top-nav .right .login {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}
.components-top-nav .right .register {
  cursor: pointer;
}
.components-top-nav .left,
.components-top-nav .middle,
.components-top-nav .right {
  z-index: 50;
}
.components-top-nav .light {
  z-index: 1;
}
.components-top-nav .light {
  height: 60px;
  width: 100px;
  background-color: #272727;
  margin-left: 0;
  transform: skewX(30deg);
  position: absolute;
  z-index: 0;
  animation-timing-function: ease-in;
}
.components-top-nav .musicBtn {
  font-size: 22px;
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-top: -20px;
  top: 50%;
  text-align: center;
  border-radius: 50%;
  background-color: #1e1e1e;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  right: 30px;
}
.components-top-nav .musicBtn:hover {
  transform: scale(1.1);
}
.components-top-nav .musicBtn:active {
  transform: scale(0.9);
}
.components-top-nav .soundBtn {
  font-size: 22px;
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-top: -20px;
  top: 50%;
  text-align: center;
  border-radius: 50%;
  background-color: #1e1e1e;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  right: 75px;
}
.components-top-nav .soundBtn:hover {
  transform: scale(1.1);
}
.components-top-nav .soundBtn:active {
  transform: scale(0.9);
}
@keyframes lightMove {
  from {
    margin-left: 0;
    width: 100px;
  }
  to {
    margin-left: 2000px;
    width: 500px;
  }
}
@keyframes topNavAni {
  0% {
    border-bottom: solid 3px greenyellow;
  }
  50% {
    border-bottom: solid 3px green;
  }
  100% {
    border-bottom: solid 3px greenyellow;
  }
}
/*# sourceMappingURL=index.css.map */