.components-tic-tac-toe-board-area {
  text-align: center;
}
.components-tic-tac-toe-board-area .title {
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.components-tic-tac-toe-board-area .board {
  margin: 15px auto;
  position: relative;
}
.components-tic-tac-toe-board-area .board .line {
  height: 100px;
  width: 300px;
  margin: 0 auto;
}
.components-tic-tac-toe-board-area .board .line .box {
  height: 100px;
  width: 100px;
  float: left;
  transform: scale(0.9);
  transition: all 0.2s;
  border-radius: 10px;
  background-color: #1e1e1e;
}
.components-tic-tac-toe-board-area .board .line .box .piece {
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 100px;
  user-select: none;
  animation-name: putPice;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.components-tic-tac-toe-board-area .board .winLine {
  position: absolute;
  width: 300px;
  height: 10px;
  background-color: greenyellow;
  z-index: 300;
  border-radius: 50%;
  animation-name: winLineFadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.components-tic-tac-toe-board-area .board .xLine1 {
  top: 50px;
}
.components-tic-tac-toe-board-area .board .xLine2 {
  top: 150px;
}
.components-tic-tac-toe-board-area .board .xLine3 {
  top: 250px;
}
.components-tic-tac-toe-board-area .board .xLine1,
.components-tic-tac-toe-board-area .board .xLine2,
.components-tic-tac-toe-board-area .board .xLine3 {
  left: 50%;
  margin-left: -150px;
}
.components-tic-tac-toe-board-area .board .yLine1,
.components-tic-tac-toe-board-area .board .yLine2,
.components-tic-tac-toe-board-area .board .yLine3 {
  width: 10px;
  height: 300px;
  top: 0;
  left: 50%;
  transform: translateX(-5px);
}
.components-tic-tac-toe-board-area .board .yLine1 {
  margin-left: -100px;
}
.components-tic-tac-toe-board-area .board .yLine2 {
  margin-left: 0;
}
.components-tic-tac-toe-board-area .board .yLine3 {
  margin-left: 100px;
}
.components-tic-tac-toe-board-area .board .sLine1,
.components-tic-tac-toe-board-area .board .sLine2 {
  width: 424.2px;
  height: 10px;
  left: 50%;
  top: 50%;
  margin-left: -212.1px;
  margin-top: -5px;
}
.components-tic-tac-toe-board-area .board .sLine1 {
  transform: rotate(45deg);
}
.components-tic-tac-toe-board-area .board .sLine2 {
  transform: rotate(-45deg);
}
.components-tic-tac-toe-board-area .rangeEle {
  width: 200px;
}
.components-tic-tac-toe-board-area input[type="range"]::-webkit-slider-runnable-track {
  background: black;
}
.components-tic-tac-toe-board-area input[type="range"]::-moz-range-track {
  background: black;
}
.components-tic-tac-toe-board-area input[type="range"]::-webkit-slider-thumb {
  background: lightgreen;
  cursor: pointer;
}
.components-tic-tac-toe-board-area input[type="range"]::-moz-range-thumb {
  background: lightgreen;
}
.components-tic-tac-toe-board-area .stepBtn {
  color: lightgreen;
  background-color: #1e1e1e;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  outline: none;
  font-weight: bolder;
}
.components-tic-tac-toe-board-area .stepBtn:hover {
  cursor: pointer;
}
@keyframes putPice {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes winLineFadeIn {
  from {
    opacity: 0.1;
    box-shadow: 0 0 80px red;
  }
  to {
    opacity: 1;
    box-shadow: 0 0 5px lightgreen;
  }
}
/*# sourceMappingURL=index.css.map */